body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dcdceb;
}
header {
  background-color: #3827d1de;
  color: #0ac232;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
main {
  padding: 20px;
}
.hero img, article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
